$landing-height: 100vh;
$color-primary: #878d83;
$color-text: #214c56;
$aspect-width: 16;
$aspect-height: 9;
$trailer-scale: 7rem;

body {
  
  background-color: $color-primary;
  width: 100vw;
  
  overflow-x: hidden;
}

* {
  color: $color-text;
  font-size: 62.5%;
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  scroll-behavior: smooth;
  letter-spacing: .2rem;
}

#landing {
  position: relative;
  background-image: url("../Images/ground.png");
  width: 100vw;
  height: $landing-height;
}

.transparent {
  opacity: 0.65;
}

.overlay {
  background-color: black;
  width: 100vw;
  height: 100%;
  box-shadow: 0 0 10px 8px black;
  
}

#Character {
  position: relative;
  width: 100vw;
  height: 55rem;
  top: 50%;
  margin-top: -45rem;
}

#Character-Container{
  width: 100%;
  height: 100%;
  position: relative;
  
  top: -($landing-height);
}

#Title {
  display: block;
  margin: 0 auto;
  margin-top: 7rem;
  min-width: 1rem;
  max-width: 75rem;
  height: auto;
  top: 1rem;
}

#Character_Body {
  display: block;
  margin: 0 auto;
  min-width: 1rem;
  max-width: 50rem;
  height: auto;
}

#Content-1 {
  width: 100%;
  background-color: $color-primary;//#252D26;
  font-size: 5rem;
}

a {
  text-decoration: none;
}

// -----------------------------------------------

#Credits{
  width: 100%;
  background-color: $color-text;
  div {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
}

#credit-container {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 3rem;
    color: $color-primary;
  }
  p {
    margin-bottom: .15rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: $color-primary;
  }
}

.media-back {
  padding: 4px;
  margin: 1rem;
  border-radius: 1rem;
  background-color: $color-text;
}

#socials {
  flex: 1;
  margin: auto 0rem;
  display: flex;
  flex-direction: row;
  svg {
    width: 3rem;
    height: 3rem;
    display: block;
    margin: 3.5rem 1rem;
    fill: $color-primary;
  }
}

#download {
  width: 100%;
  margin-top: 5rem;
  display:flex;
  align-items:center;
  justify-content:center;
  a {
    svg {
      width: 5rem;
      height: 5rem;
      fill: $color-text;
    }
  }
}

.center-content{
  display:flex;
  align-items:center;
  justify-content:center;
}
.flex-col{
  flex-direction: column;
}
.font-5{
  font-size: 5rem;
}
#trailer-container{
  width: 100%;
}
#trailer{
  margin-top: 20rem;
  background-color: $color-text;
  width: calc((#{$aspect-width}*#{$trailer-scale}) + 1.5rem);
  height: calc((#{$aspect-height}*#{$trailer-scale}) + 1.5rem);
  border-radius: 1rem;
  iframe{
    width: calc(#{$aspect-width} * #{$trailer-scale});
    height: calc(#{$aspect-height} * #{$trailer-scale});
    border-radius: 1rem;
  }
}

#credit-members {
  padding-left: 2rem;
  color: black;
  flex: 20;
  height: 1rem;
  h2 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: .5rem;
  }
  p {
    font-size: 2.2rem;
    text-align: left;
    margin-bottom: 2rem;
  }
}

#FooterTop {
  display: block;
  bottom: 0;
  width: 100%;
  margin-top: 10rem;
  filter: invert(27%) sepia(45%) saturate(484%) hue-rotate(144deg) brightness(88%) contrast(97%);
}

// Content 1
#overview {
  width: 60%;
  margin: 20rem auto;
}
.overview-card {
  display: block;
  margin: 0 auto;
  width: 100%;
  img {
    display: block;
    margin: 5rem auto;
    width: 25rem;
    height: auto;
  }
}

#Content-grid {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-top: 25rem;
}
.Content-grid-item {
  display: block;
  width: 50rem;
  height: auto;
  margin: 1rem 1rem;
  img {
    display: block;
    margin: 0 auto;
  }
}
.subrow-1 {
  display: flex;
  justify-content: space-around;
}
.subrow-2 {
  display: flex;
  justify-content: space-around;
}
#row-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#row-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#row-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin-top: 10rem;
}

.gallery_mp4 {
  width: 60rem;
  height: 45rem;
  margin: .5rem;
}

@media only screen and (max-width: 750px), (max-height: 200px) {
  #trailer-container{
    width: 100%;
  }
  #trailer{
    margin-top: 20rem;
    background-color: $color-text;
    width: calc((#{$aspect-width}*3rem) + 1.5rem);
    height: calc((#{$aspect-height}*3rem) + 1.5rem);
    border-radius: 1rem;
    iframe{
      width: calc(#{$aspect-width} * 3rem);
      height: calc(#{$aspect-height} * 3rem);
    }
  }
  
  #Title {
    position: relative;
    min-width: 1rem;
    width: 75%;
    max-width: 30rem;
    height: auto;
    display: block;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }
  #Character-Container {
    width: 100%;
    height: 100%;
    top: -20rem;
  }
  #Character {
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
  }
  #Character_Body {
    display: none;
  }
  #landing {
    margin: 0;
    height: 20rem;
    width: 100vw;
  }

  #itchio {
    transform: scale(75%);
    padding: 0;
    margin: 0;
    left: -2rem;
  }

  #Credits {
    padding: 0;
  }
  #credit-container{
    flex-direction: column;
    margin-top: 2rem;
  }
  #credit-members {
    width: 100%;
    margin-top: 1rem;
    h2{
      font-size: 2.2rem;
    }
    p {
      font-size: 1.8rem;
    }
    
  }
  #socials {
    margin: 0 auto;
    svg {
      margin: 1rem 1rem;
    }
  }
  #Content-grid {
    margin-top: 0;
  }
  .Content-grid-item {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin: 2rem 0;
  }
  .subrow-1 {
    display: none;
  }
  .subrow-2 {
    flex-direction: column;
    h2 {
      font-size: 2.2rem;
      width: 100%;
    }
    h1 {
      font-size: 2.8rem;
    }
  }

  #gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  
  .gallery_mp4 {
    width: 50rem;
    height: 30rem;
    margin: .5rem;
  }
}



@media only screen and (min-width: 1000px) and (max-width:1300px) {
  #trailer-container{
    width: 100%;
  }
  #trailer{
    margin-top: 20rem;
    background-color: $color-text;
    width: calc((#{$aspect-width}*5rem) + 1.5rem);
    height: calc((#{$aspect-height}*5rem) + 1.5rem);
    border-radius: 1rem;
    iframe{
      width: calc(#{$aspect-width} * 5rem);
      height: calc(#{$aspect-height} * 5rem);
    }
  }
  #gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  
  .gallery_mp4 {
    width: 45rem;
    height: 30rem;
    margin: .5rem;
  }
}
@media only screen and (min-width: 750px) and (max-width:1000px),(max-height: 720px) {
  #trailer-container{
    width: 100%;
  }
  #trailer{
    margin-top: 10rem;
    background-color: $color-text;
    width: calc((#{$aspect-width}*4rem) + 1.5rem);
    height: calc((#{$aspect-height}*4rem) + 1.5rem);
    border-radius: 1rem;
    iframe{
      width: calc(#{$aspect-width} * 4rem);
      height: calc(#{$aspect-height} * 4rem);
    }
  }

  #Title {
    position: relative;
    min-width: 1rem;
    width: 75%;
    max-width: 30rem;
    height: auto;
    display: block;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }
  #Character-Container {
    width: 100%;
    height: 100%;
    top: -20rem;
  }
  #Character {
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
  }
  #Character_Body {
    display: none;
  }
  #landing {
    margin: 0;
    height: 20rem;
    width: 100vw;
  }

  #itchio {
    transform: scale(75%);
    padding: 0;
    margin: 0;
    left: -2rem;
  }
  #socials {
    margin: 0 auto;
    svg {
      margin: 2rem 1rem;
    }
  }
  #credit-container{
    flex-direction: column;
  }
  #credit-members {
    width: 100%;
    margin-top: 1rem;
    h2{
      font-size: 2.2rem;
    }
    p {
      font-size: 1.8rem;
    }
    
  }
  .Content-grid-item {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin: 2rem 0;
  }
  .subrow-1 {
    display: none;
  }
  .subrow-2 {
    flex-direction: column;
    h2 {
      font-size: 2.4rem;
      width: 100%;
    }
    h1 {
      font-size: 3.0rem;
    }
  }
 
  #gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  
  .gallery_mp4 {
    width: 50rem;
    height: 30rem;
    margin: .5rem;
  }
}

h2 {
  font-size: 2.7rem;
  letter-spacing: .2rem;
  text-align: center;
}
h1 {
  font-size: 3.5rem;;
  letter-spacing: .2rem;
  text-align: center;
}
p {
  text-align: center;
}

.split-line {
  content: "";
  display: block;
  margin: 5rem auto;
  width: 60%;
  height: .2rem;
  background-color: black;
}

.rem15 {
  img {
    width: 15rem;
    height: auto;
  }
 
}
.rem10 {
  img {
    width: 10rem;
    height: auto;
  }
}
.rem20 {
  img {
    width: 20rem;
    height: auto;
  }
}
.rem5 {
  img {
    width: 5rem;
    height: auto;
  }
}



